

<H1>Listar nome</H1>





<ul>

@foreach(var  item in ViewBag.frutas){
    <p> 
    Codigo: @item.Id <br>
    Frutas: @item.Nome <br>
    Preco: @item.Preco <br>
    Quantidade: @item.Quantidade <br>
    Categoria:@item.Categoria <br>
    
    
    
    
    
    
    
    </p>
}

</ul>