@{
    ViewData["Title"] = "Logo DevConnect";
}

<link rel="stylesheet" href="~/css/Feed.css" />

<h1>Tela Feed DevConnect</h1>

    <!--MEU CABEÇALHO-->
    <header id="cabecalho">
        <nav>
            <a href="./feed.html">
                <img id="logo-desktop" src="~/images/logo-devconnect-md.svg"
                    alt="Logo da empresa tamanho medio">
            </a>
            <a href="./feed.html">
                <img id="logo-mobile" src="~/images/logo-devconnect-sm.svg" alt="Logo da empresa tamanho medio">
            </a>

            <div class="cabecalho-acoes">
                <a href="./feed.html">
                    <img src="~/images/icone-casa-azul.svg" alt="">
                </a>
                <a href="#">
                    <img src="~/images/icone-coracao-azul.svg" alt="">
                </a>
                <a asp-controller="Usuario" asp-action="Perfil">
                    <img class="foto-perfil" src="~/images/WhatsApp Image 2025-08-16 at 21.54.14.jpeg" alt="">
                </a>




            </div>

        </nav>
    </header>
    <!--INICIO MAIN-->
    <main>
        <div class="container-flex-publi">
            <!--  -->
            <section id="storys" class="estilo-formulario">

                <!--1 storys-->
                <article class="card-story">
                    <button type="button">
                        <img src="~/images/WhatsApp Image 2025-08-16 at 21.54.14.jpeg" alt="">
                        becker_st
                    </button>
                </article>

                <!--2 storys-->
                <article class="card-story">
                    <button type="button">
                        <img src="~/images/WhatsApp Image 2025-08-16 at 21.54.14.jpeg" alt="">
                        becker_st
                    </button>
                </article>
                <!--3 storys-->
                <article class="card-story">
                    <button type="button">
                        <img src="~/images/WhatsApp Image 2025-08-16 at 21.54.14.jpeg" alt="">
                        becker_st
                    </button>
                </article>

                <!--4 storys-->
                <article class="card-story">
                    <button type="button">
                        <img src="~/images/WhatsApp Image 2025-08-16 at 21.54.14.jpeg" alt="">
                        becker_st
                    </button>
                </article>

                <!--5 storys-->
                <article class="card-story">
                    <button type="button">
                        <img src="~/images/WhatsApp Image 2025-08-16 at 21.54.14.jpeg" alt="">
                        becker_st
                    </button>
                </article>

                <!--6 storys-->
                <article class="card-story">
                    <button type="button">
                        <img src="~/images/WhatsApp Image 2025-08-16 at 21.54.14.jpeg" alt="">
                        becker_st
                    </button>
                </article>

                <!--7 storys-->
                <article class="card-story">
                    <button type="button">
                        <img src="~/images/WhatsApp Image 2025-08-16 at 21.54.14.jpeg" alt="">
                        becker_st
                    </button>
                </article>

                <!--8 storys-->
                <article class="card-story">
                    <button type="button">
                        <img src="~/images/WhatsApp Image 2025-08-16 at 21.54.14.jpeg" alt="">
                        becker_st
                    </button>
                </article>

                <!--9 storys-->
                <article class="card-story">
                    <button type="button">
                        <img src="~/images/WhatsApp Image 2025-08-16 at 21.54.14.jpeg" alt="">
                        becker_st
                    </button>
                </article>

                <!--10 storys-->
                <article class="card-story">
                    <button type="button">
                        <img src="~/images/WhatsApp Image 2025-08-16 at 21.54.14.jpeg" alt="">
                        becker_st
                    </button>
                </article>

                <!--11 storys-->
                <article class="card-story">
                    <button type="button">
                        <img src="~/images/WhatsApp Image 2025-08-16 at 21.54.14.jpeg" alt="">
                        becker_st
                    </button>
                </article>

                <!--12 storys-->
                <article class="card-story">
                    <button type="button">
                        <img src="~/images/WhatsApp Image 2025-08-16 at 21.54.14.jpeg" alt="">
                        becker_st
                    </button>
                </article>

                <!--13 storys-->
                <article class="card-story">
                    <button type="button">
                        <img src="~/images/WhatsApp Image 2025-08-16 at 21.54.14.jpeg" alt="">
                        becker_st
                    </button>
                </article>

                <!--14 storys-->
                <article class="card-story">
                    <button type="button">
                        <img src="~/images/WhatsApp Image 2025-08-16 at 21.54.14.jpeg" alt="">
                        becker_st
                    </button>
                </article>

                <!--15 storys-->
                <article class="card-story">
                    <button type="button">
                        <img src="~/images/WhatsApp Image 2025-08-16 at 21.54.14.jpeg" alt="">
                        becker_st
                    </button>
                </article>


                </article>


            </section>
            <!--  -->

            <!--  -->
            <section id="criar-publi" class="estilo-formulario">
                <h2>Publicação</h2>

                <form action="">
                    <textarea name="" id="" placeholder="Digite a descrição do post"></textarea>
                    <footer class="formulario-campos">
                        <label id="labell" for="campo-file">Upload</label>
                        <input type="file" id="campo-file">

                        <button type="submit" class="formulario-botao-azul">Postar</button>
                    </footer>
                </form>
            </section>
            <!--  -->

            <!---->
            <section id="publicacoes">
                <article class="card-publi">
                    <header>
                        <a asp-controller="Usuario" asp-action="Perfil">
                            <img class="foto-perfil" src="~/images/WhatsApp Image 2025-08-16 at 21.54.14.jpeg"
                                alt="">
                            becker_st
                        </a>

                    </header>

                    <figure>
                        <img class="imagem-publicacao" src="~/images/WhatsApp Image 2025-08-26 at 16.51.47.jpeg"
                            alt="">
                        <figcaption>
                            becker_st
                            <p class="descricao-publicacao">final do culto na ccb cabreuva</p>
                        </figcaption>

                        <div class="interacoes-publicacoes">
                            <button type="button">
                                <img src="~/images/icone-coracao-preto.svg" alt="">
                            </button>

                            <button type="button">
                                <img src="~/images/icone-comentario-preto.svg" alt="">
                            </button>

                            <span>1k curtidas</span>
                        </div>

                        <button type="button">Ver todos os comentarios...</button>
                    </figure>
                </article>
            </section>


        </div>
    </main>
    <!--FIM MAIN-->