 @{
    ViewData["Title"] = "Logo DevConnect";
}
 
 <link rel="stylesheet" href="~/css/Perfil.css" />
 
 <h1>Tela de Perfil - DevConnect</h1>

    <main>
        <header id="cabecalho">
            <nav>
                <a href="feed.html">
                    <img id="logo-desktop" src="~/images/logo-devconnect-md.svg" alt="Logo do DevConnect">
                </a>

                <a href="feed.html">
                    <img id="logo-mobile" src="~/images/logo-devconnect-sm.svg" alt="Logo do DevConnect">
                </a>

                <div class="cabecalho-acoes">
                    <a href="feed.html">
                        <img src="~/images/icone-casa-azul.svg" alt="">
                    </a>

                    <a href="#">
                        <img src="~/images/icone-coracao-azul.svg" alt="">
                    </a>

                    <a href="#">
                        <img class="foto-perfil" src="~/images/WhatsApp Image 2025-08-16 at 21.54.14.jpeg" alt="">
                    </a>
                </div>

            </nav>
        </header>

        <section id="foto-de-perfil">
            <div>
                <img src="~/images/WhatsApp Image 2025-08-16 at 21.54.14.jpeg" alt="">
            </div>

            <div class="info-perfil">

                <h2>becker_st</h2>

                <div class="info-conta">
                    <span>3 Publicações.</span>
                    <span>12 seguindo.</span>
                    <span>2398 seguidores.</span>
                </div>

                <div class="info-conta">
                    <span>
                        <h5>Matheus Becker</h5>
                    </span>
                    <a href="#">Editar Perfil</a>
                    <a asp-controller="Home" asp-action="Index">Sair</a>
                </div>
            </div>

            
        </section>
        
        <figure id="publicacao">
            <img src="~/images/icone-galeria-preto.svg" alt="">
            <h4>Publicações</h4>
        </figure>

        <section id="publicacoes-feitas">
            <article class="card-publi">
                <header>
                    <a href="#">
                        <img class="foto-perfil" src="~/images/WhatsApp Image 2025-08-16 at 21.54.14.jpeg" alt="">
                        becker
                    </a>
                </header>

                <p>o mais lindo de todos Becker_st</p>

                <div>
                    <div class="interacoes-publicacao">
                        <button type="button">
                            <img src="~/images/icone-coracao-preto.svg" alt="">
                        </button>

                        <button type="button">
                            <img src="~/images/icone-comentario-preto.svg" alt="">
                        </button>

                        <span>109k curtidas</span>

                    </div>
                </div>

            </article>
        </section>

        <section id="publicacoes-feitas">
            <article class="card-publi">
                <header>
                    <a href="#">
                        <img class="foto-perfil" src="~/images/WhatsApp Image 2025-08-16 at 21.54.14.jpeg" alt="">
                        becker_st
                    </a>
                </header>

                <p>amo minha sogra Karol</p>

                <div>
                    <div class="interacoes-publicacao">
                        <button type="button">
                            <img src="~/images/icone-coracao-preto.svg" alt="">
                        </button>

                        <button type="button">
                            <img src="~/images/icone-comentario-preto.svg" alt="">
                        </button>

                        <span>63k curtidas</span>

                    </div>
                </div>

            </article>
        </section>

        <section id="publicacoes-feitas">
            <article class="card-publi">
                <header>
                    <a href="#">
                        <img class="foto-perfil" src="~/images/WhatsApp Image 2025-08-16 at 21.54.14.jpeg" alt="">
                        becker_st
                    </a>
                </header>

                <p>Ana amor da minha vida te amo </p>

                <div>
                    <div class="interacoes-publicacao">
                        <button type="button">
                            <img src="~/images/icone-coracao-preto.svg" alt="">
                        </button>

                        <button type="button">
                            <img src="~/images/icone-comentario-preto.svg" alt="">
                        </button>

                        <span>86k curtidas</span>

                    </div>
                </div>

            </article>
        </section>


    </main>