main {
  
    min-height: 100vh;/*Estou falando da altura da minha janela*/
    width: 100%;
    display: flex; /*Ativei o flex*/
    justify-content: center;
    align-items: center;/*Alinhei para o centro*/
}
main>div {
  
  
    width: 90%;
     display: flex;/*ativei o flex*/
     flex-direction: column;
     align-items: center;
     gap: 15px;
 
 }
 form {
    background-color:var(--cor-branco);/*coloquei a cor no meu form*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 5%;
 }

 .formulario-campos{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    padding: 3%;
 }

 .formulario-botao-azul{
    width: 100%;
 }

 p {

    max-width: 370px;
    text-align: center
 }

#secao-login{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .estilo-formulario{
    width: 100%;
    max-width: 342px;
    background-color: var(--cor-azul-claro);
    border: var(--cor-cinza);
 }
 