main{
    background-color: var(--cor-azul-claro);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
   
    
}

.container-flex-publi{
    background-color: var(--cor-azul-claro);
   /* height: 700px;*/
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
}

#storys{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    gap: 30px;
    padding: 10px;
}

#storys::-webkit-scrollbar{
    width: 0;
}


.card-story{
   
}

.card-story > button{
    background-color: transparent;
    border: none;
    
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-preto);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.card-story > button > img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.formulario-botao-azul{
    width: 150px;
}

#criar-publi{
    padding: 10px;
}

#criar-publi > h2{
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-lg);
    font-weight: 700px;
    padding-bottom: 15px;  
}

#criar-publi > form > textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    resize: none;/*desabilita a redimensão do tamanho do elemento */
    /*border-color: var(--cor-preto);*/
    border: var(--border);
    margin-bottom: 20px;

    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-sm);
}

#criar-publi > form > textarea::placeholder{
    color: var(--cor-preto);
    
}

#criar-publi > form > footer{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}


#publicacoes{
    background-color: brown;
    width: 100%;
    
}

.card-publi{
    background-color: var(--cor-azul-claro);
    width: 100%;
   /* height: 600px;*/

}

.card-publi > header{
    padding: 15px;
}

.card-publi > header > a{
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
    color: var(--cor-preto);
    text-transform: lowercase;
}

.card-publi > figure {
    display: flex;
    flex-direction: column;
}

.imagem-publicacao{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 350px;
}

.card-publi > figure >figcaption{
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-md);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 15px;
    order: 2;
    margin: 15px ;
}

.descricao-publicacao{
    font-size: var(--tamanho-fonte-sm);
    font-weight: 400;

}

.interacoes-publicacoes{
    display: flex;
    width: 88px;
    flex-wrap: wrap;
    justify-content: space-between;
    order: 1;
    margin-left: 15px;
    margin-top: 15px;
   
}

.interacoes-publicacoes > button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.card-publi > figure > button{
    background-color: transparent;
    border: none;

    color: var(--cor--cinza);
    font-size: var(--tamanho-fonte-sm);
    order: 3;
display: flex;
align-items: flex-start;
    margin-left: 15px;
    
}